.hero {
  height: 80vh;
  min-height: 780px;

  &_txt {
    max-width: 565px;
  }
  &_s_img {
    width: 351px;
    height: 337px;
  }
  &_l_img {
    width: 610px;
    height: 482px;
  }
}

.form {
  min-height: 120px;
}

@media (min-width: 900px) {
  .hero {
    height: 100vh;
    min-height: 750px;
  }
  .form {
    min-height: 90px;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 700px;
  }
}

.input_bg {
  background-image: url(https://ik.imagekit.io/4woq8zlkh/url-landing-page/SmallBg_gK7ddgXyj.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656579995523);
  background-size: cover;
}

.boost_bg {
  background-image: url(https://ik.imagekit.io/4woq8zlkh/url-landing-page/largeBg_WE4Ty-H2p.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656579997110);
  background-size: cover;
  max-height: 300px;
  height: 100%;
}
