* {
  font-family: "Poppins", sans-serif !important;
}

h1 {
  font-size: 30px !important;
  line-height: 42px;
  font-weight: 700 !important;
}

h2 {
  font-size: 28px !important;
  line-height: 48px;
  font-weight: 700 !important;
}

.f-40-48 {
  font-size: 28px;
}

.f-22-36 {
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 900px) {
  h1 {
    font-size: 56px !important;
    line-height: 80px;
  }
  h2 {
    font-size: 40px !important;
  }
  .f-20-32 {
    font-size: 20px;
    line-height: 32px;
  }
  .f-40-48 {
    font-size: 40px;
    line-height: 48px;
  }
}
