@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./_btn.css";
@import "./_typography.css";
@import "./_input.css";

.j-btw {
  @apply flex justify-between;
}

.a-center {
  @apply flex items-center;
}

.a-center-j-btw {
  @apply flex items-center justify-between;
}

.green-point {
  @apply hover:text-green cursor-pointer;
}

.dark-point {
  @apply hover:text-black cursor-pointer font-bold;
}

.statistics {
  @apply bg-white px-8 pb-5 pt-20 rounded text-center md:text-left;
  max-width: 350px;
  width: 100%;
  height: 287px;
  min-height: 280;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
